@font-face {
  font-family: 'DIGITALL';
  src: url('../fonts/01\ Digitall.ttf') format('truetype');
  /* Puedes agregar formatos adicionales según el tipo de archivo de tu fuente */
}
@font-face {
  font-family: 'HEMING';
  src: url('../fonts/heming-variable.ttf') format('truetype');
  /* Puedes agregar formatos adicionales según el tipo de archivo de tu fuente */
}
@font-face {
  font-family: 'LUNCHTYPE';
  src: url('../fonts/lunchtype/Lunchtype22-Regular.ttf') format('truetype');
  /* Puedes agregar formatos adicionales según el tipo de archivo de tu fuente */
}
:root {
  --azul: #39A2DB;
  --astrong: #073944;
  --gris: #EFF4F7;
  --blanco: #FFFFFF;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.blur-bg {
  background-image: url('../img/fondos/futurist-2.jfif');
  background-size: cover;
  filter: blur(10px);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.content {
  text-align: center;
  z-index: 1;
}

.logo {
  width: 40%; /* Ajusta el tamaño del logo según tus necesidades */
}

.buttons {
  margin-top: 20px;
}
.logoName{
  padding: 0%;
  margin: 0%;
  color: #fff;
  font-family: 'DIGITALL';
  font-size: 10rem;
  letter-spacing: 2rem;
  font-style: bold;
}
.button {
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  font-size: 16px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.logo.rotate {
  transition: transform 0.5s ease;
  transform: rotate(360deg);
}
/* Agrega estos estilos a tu archivo CSS */

.brandText {
  max-width: 800px;
  margin: 0 auto;
  font-size: 150%;
  line-height: 1.6;
  color: var(--gris);
  font-family: 'LUNCHTYPE';
}

/* Media query para dispositivos más pequeños */
@media screen and (max-width: 600px) {
  .brandText {
      font-size: 14px;
  }
}
.button {
  background-color: #ffffff00;
  color: #fff;
  width: 8.5em;
  height: 2.9em;
  border: #3654ff 0.2em solid;
  border-radius: 11px;
  text-align: right;
  transition: all 0.6s ease;
}

.button:hover {
  background-color: #3654ff;
  cursor: pointer;
}

.button svg {
  width: 1.6em;
  margin: -0.2em 0.8em 1em;
  position: absolute;
  display: flex;
  transition: all 0.6s ease;
}

.button:hover svg {
  transform: translateX(5px);
}

.text {
  margin: 0 1.5em
}